
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/trips">Home</a>
    <a href="/logout">logout</a>
    <h1>{{trip.destination}}</h1>
    <p>Author: {{trip.planer}}</p>
    <p>Author: {{trip.description}}</p>
    <p>Author: {{trip.start_date}}</p>
    <p>Author: {{trip.end_date}}</p>

    <div>
    <h3>Other Users Joining the Trip:</h3>
    {% for user in others %}
    <p>{{user.users}}</p>
    {% endfor %}
    </div>

    {% if messages%}
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </body>
</html>
